:root {
  --color-azul--oscuro: #1e3253;
  --color-celeste--claro: #e2e8f3;
  --color-blanco--oscuro: #fcfcfc;
  --color-azul: #406cb2;
  --color-label: #3d82f3;
  --color-rojo: #eb5757;
  --color-celeste: #cfdaec;
  --color-negro: #2222;
  --color-blanco: #ffff;
  --color-boton-azul: #1166f1;
  --color-sombra-boton-azul: #1166f125;
  --font-family: "Roboto", sans-serif;
}

.d-none {
  display: none !important;
}

.container_input-flotante [type="text"]:focus + label,
.container_input-flotante [type="text"]:not(:valid) + label, .container_input-flotante [type="date"] + label, input[type="number"]:valid + label,
input[type="number"]:focus + label, select + label {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem;
  color: var(--color-label);
}

body {
  background: var(--color-celeste--claro);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 1rem;
  font-family: var(--font-family);
}

/* botones */
button {
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  border: 0.0625rem transparent;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 2rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.078125rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
}

button:active {
  outline: none;
}

button:active img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

button img {
  pointer-events: none;
}

/* titulo */
.title-pag {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 0;
}

.btn-prin {
  background: var(--color-boton-azul);
  color: var(--color-celeste--claro);
  -webkit-box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
          box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
  border: 0.0625rem solid var(--color-boton-azul);
}

.btn-prin:active {
  background: var(--color-label);
}

.btn-sec {
  background: var(--color-blanco);
  color: var(--color-azul--oscuro);
  border: 0.0625rem solid var(--color-azul--oscuro);
  -webkit-box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
          box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
}

.btn-sec:active {
  background: var(--color-azul--oscuro);
  color: var(--color-blanco);
}

.btn-ter {
  color: var(--color-azul);
  background: var(--color-blanco--oscuro);
  border: 0.0625rem solid var(--color-celeste--claro);
  -webkit-box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
          box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
}

.btn-ter:active {
  background-color: var(--color-celeste--claro);
  color: var(--color-azul--oscuro);
}

.btn-desplegar {
  background: transparent;
  padding-left: 0;
}

.btn-desplegar img {
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.btn-desplegar:active img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-eliminar {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: var(--color-rojo);
}

.btn-aumentar,
.btn-disminuir {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: var(--color-blanco--oscuro);
}

.btn-aumentar:hover, .btn-aumentar:active,
.btn-disminuir:hover,
.btn-disminuir:active {
  background: var(--color-sombra-boton-azul);
}

.btn-close {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: var(--color-celeste--claro);
}

.btn-close:hover, .btn-close:active {
  background: var(--color-celeste);
}

/* input */
.container {
  background: var(--color-blanco);
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 1rem;
}

/* logo */
.form-header {
  padding: 0.5rem;
}

.form-header img {
  height: 2.25rem;
}

/* inputs */
#ruta {
  text-transform: uppercase;
}

.container_input-flotante {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_input-flotante input {
  width: calc(100% - 1.5rem);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  padding: 0.625rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
}

.container_input-flotante input:focus, .container_input-flotante input:active {
  outline: none;
}

.container_input-flotante [type="text"]:focus + label,
.container_input-flotante [type="text"]:not(:valid) + label {
  padding-top: 0.25rem;
}

.container_input-flotante [type="date"] + label {
  padding-top: 0.25rem;
}

.container_input-flotante label {
  position: absolute;
  z-index: 1;
  padding: 0.75rem;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input[type="number"] {
  position: relative;
}

input[type="number"]:valid + label,
input[type="number"]:focus + label {
  padding-top: 0.25rem;
}

.input--metraje::after {
  position: absolute;
  content: ".m";
  display: block;
  z-index: 10;
  color: var(--color-celeste);
  background: white;
  height: 1.875rem;
  width: 1.875rem;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/* metrajes de inico y final */
.container-metraje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.75rem;
}

.container-metraje > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* quitar estilo de input number */
/* container items */
.container-items {
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
}

.container-items .item {
  padding-bottom: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, var(--color-blanco)), color-stop(35%, transparent));
  background: linear-gradient(var(--color-blanco) 35%, transparent 35%);
}

.container-items .item.active .btn-desplegar img {
  -webkit-transform: translateX(0.3125rem) rotate(90deg);
          transform: translateX(0.3125rem) rotate(90deg);
}

.container-items .item.active + .container-datos-items {
  top: 0;
  opacity: 1;
  position: relative;
  z-index: initial;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

/* botones para agregar items */
.acciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 1rem;
  background: var(--color-blanco);
  padding: 0.25rem;
  border-radius: 3.125rem;
  -webkit-box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
          box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.item .container-acciones-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/* inputs items */
.input--item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input--item .btn-close {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.container-datos-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  position: relative;
  top: -56px;
  right: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: -1;
  height: 0;
}

select {
  width: calc(100%);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  padding: 0.625rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  position: relative;
  cursor: pointer;
}

select:focus, select:active {
  outline: none;
}

select + label {
  top: 0;
  position: absolute;
  padding-top: 0.25rem !important;
}

/* input text area reporte final */
.container_textArea-flotante {
  height: 100%;
  position: relative;
}

textarea {
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  padding: 0.75rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  position: relative;
  resize: none;
}

/* container-formularios */
[class^="formulario-"] {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
}

.container-formularios {
  width: calc(100vw - 6rem);
  overflow: hidden;
}

.container-formularios--movimiento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: translateX(calc(0 * (calc(-100% - 4rem))));
          transform: translateX(calc(0 * (calc(-100% - 4rem))));
}

.container-formularios--movimiento > section {
  min-width: 100%;
}

/* botones del footer */
.form-footer-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: -1;
      -ms-flex: -1;
          flex: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-footer-botones .container_botones_form-2,
.form-footer-botones .container_reporte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.container-botones-footer {
  width: calc(100vw - 6rem);
  overflow-x: hidden;
}

.container-botones-footer--movimiento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4rem;
  padding: 1rem 0;
  -webkit-transition: 1s ease;
  transition: 1s ease;
  -webkit-transform: translateX(calc(0 * (calc(-100% - 4rem))));
          transform: translateX(calc(0 * (calc(-100% - 4rem))));
}

.container-botones-footer--movimiento > section {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 768px) {
  .container {
    width: 50vw;
  }
  .container-botones-footer {
    width: 100%;
  }
  .container-formularios {
    width: 100%;
  }
}
/*# sourceMappingURL=styles-RD.css.map */