:root {
  --color-azul--oscuro: #1e3253;
  --color-celeste--claro: #e2e8f3;
  --color-blanco--oscuro: #fcfcfc;
  --color-azul: #406cb2;
  --color-label: #3d82f3;
  --color-rojo: #eb5757;
  --color-celeste: #cfdaec;
  --color-negro: #2222;
  --color-blanco: #ffff;
  --color-boton-azul: #1166f1;
  --color-sombra-boton-azul: #1166f125;
  --font-family: "Roboto", sans-serif;
}

.d-none {
  display: none !important;
}

.container_input-flotante [type="text"]:focus + label,
.container_input-flotante [type="text"]:not(:valid) + label, .container_input-flotante [type="date"] + label, input[type="number"]:valid + label,
input[type="number"]:focus + label, select + label {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  color: var(--color-label);
}

body {
  background: var(--color-celeste--claro);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 32px 16px;
  font-family: var(--font-family);
}

/* botones */
button {
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px transparent;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 32px;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 1.25px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  cursor: pointer;
}

button:active {
  outline: none;
}

button:active img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* titulo */
.title-pag {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
}

.btn-prin {
  background: var(--color-boton-azul);
  color: var(--color-celeste--claro);
  -webkit-box-shadow: 0 4px 10px var(--color-sombra-boton-azul);
          box-shadow: 0 4px 10px var(--color-sombra-boton-azul);
  border: 1px solid var(--color-boton-azul);
}

.btn-prin:active {
  background: var(--color-label);
}

.btn-sec {
  background: var(--color-blanco);
  color: var(--color-azul--oscuro);
  border: 1px solid var(--color-azul--oscuro);
  -webkit-box-shadow: 0 4px 10px var(--color-sombra-boton-azul);
          box-shadow: 0 4px 10px var(--color-sombra-boton-azul);
}

.btn-sec:active {
  background: var(--color-azul--oscuro);
  color: var(--color-blanco);
}

.btn-ter {
  color: var(--color-azul);
  background: var(--color-blanco--oscuro);
  border: 1px solid var(--color-celeste--claro);
  -webkit-box-shadow: 0 4px 10px var(--color-sombra-boton-azul);
          box-shadow: 0 4px 10px var(--color-sombra-boton-azul);
}

.btn-ter:active {
  background-color: var(--color-celeste--claro);
  color: var(--color-azul--oscuro);
}

.btn-desplegar {
  background: transparent;
  padding-left: 0;
}

.btn-desplegar:active img {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn-eliminar {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background: var(--color-rojo);
}

.btn-aumentar,
.btn-disminuir {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background: var(--color-blanco--oscuro);
}

.btn-aumentar:hover, .btn-aumentar:active,
.btn-disminuir:hover,
.btn-disminuir:active {
  background: var(--color-sombra-boton-azul);
}

.btn-close {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background: var(--color-celeste--claro);
}

.btn-close:hover, .btn-close:active {
  background: var(--color-celeste);
}

/* input */
.container {
  background: var(--color-blanco);
  border-radius: 20px;
  padding: 16px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 16px;
}

/* logo */
.form-header {
  padding: 8px;
}

.form-header img {
  height: 36px;
}

/* inputs */
.container_input-flotante {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container_input-flotante input {
  width: calc(100% - 24px);
  border: 2px solid;
  border-radius: 4px;
  padding: 12px;
  padding-bottom: 4px;
  padding-top: 16px;
}

.container_input-flotante input:focus, .container_input-flotante input:active {
  outline: none;
}

.container_input-flotante [type="text"]:focus + label,
.container_input-flotante [type="text"]:not(:valid) + label {
  padding-top: 4px;
}

.container_input-flotante [type="date"] + label {
  padding-top: 4px;
}

.container_input-flotante label {
  position: absolute;
  z-index: 1;
  padding: 12px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

input[type="number"] {
  position: relative;
}

input[type="number"]:valid + label,
input[type="number"]:focus + label {
  padding-top: 4px;
}

.input--metraje::after {
  position: absolute;
  content: ".m";
  display: block;
  z-index: 10;
  color: var(--color-celeste);
  background: white;
  height: 30px;
  width: 30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/* metrajes de inico y final */
.container-metraje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 0.75rem;
}

.container-metraje > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* quitar estilo de input number */
/* botones para agregar items */
.acciones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  gap: 16px;
  background: var(--color-blanco);
  padding: 4px;
  border-radius: 50px;
  -webkit-box-shadow: 0 4px 10px var(--color-sombra-boton-azul);
          box-shadow: 0 4px 10px var(--color-sombra-boton-azul);
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item .container-acciones-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

/* inputs items */
.input--item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input--item .btn-close {
  position: absolute;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

select {
  width: calc(100%);
  border: 2px solid;
  border-radius: 4px;
  padding: 12px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-top: 16px;
  position: relative;
  cursor: pointer;
}

select:focus, select:active {
  outline: none;
}

select + label {
  top: 0;
  position: absolute;
  padding-top: 4px !important;
}

/* input text area reporte final */
textarea {
  width: calc(100% - 24px);
  border: 2px solid;
  border-radius: 4px;
  padding: 12px;
  padding-left: 8px;
  padding-bottom: 4px;
  padding-top: 16px;
  position: relative;
  resize: none;
}

/* container-formularios */
[class^="formulario-"] {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1rem;
}

.container-formularios {
  width: calc(100vw - 96px);
  overflow: hidden;
}

.container-formularios--movimiento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  -webkit-transform: translateX(calc(0 * (calc(-100% - 64px))));
          transform: translateX(calc(0 * (calc(-100% - 64px))));
}

.container-formularios--movimiento > section {
  min-width: 100%;
}

/* botones del footer */
.form-footer-botones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: -1;
      -ms-flex: -1;
          flex: -1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-footer-botones .container_botones_form-2,
.form-footer-botones .container_reporte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.container-botones-footer {
  width: calc(100vw - 96px);
  overflow-x: hidden;
}

.container-botones-footer--movimiento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 64px;
  padding: 1rem 0;
  -webkit-transform: translateX(calc(0 * (calc(-100% - 64px))));
          transform: translateX(calc(0 * (calc(-100% - 64px))));
}

.container-botones-footer--movimiento > section {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=styles-RD.css.map */