:root {
  --color-azul--oscuro: #1e3253;
  --color-celeste--claro: #e2e8f3;
  --color-blanco--oscuro: #fcfcfc;
  --color-azul: #406cb2;
  --color-label: #3d82f3;
  --color-rojo: #eb5757;
  --color-celeste: #cfdaec;
  --color-negro: #2222;
  --color-blanco: #ffff;
  --color-boton-azul: #1166f1;
  --color-sombra-boton-azul: #1166f125;
  --font-family: "Roboto", sans-serif;
}
.d-none {
  display: none !important;
}
%label-style {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.025rem;
  color: var(--color-label);
}
body {
  background: var(--color-celeste--claro);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 1rem;
  font-family: var(--font-family);
}
/* botones */
button {
  padding: 0.5rem 1rem;
  border-radius: 0.3125rem;
  border: 0.0625rem transparent;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  text-align: center;
  letter-spacing: 0.078125rem;
  transition: 0.2s ease-in-out;
  width: max-content;
  height: max-content;
  cursor: pointer;
  &:active {
    outline: none;
    img {
      transform: scale(0.9);
    }
  }
  img{
    pointer-events: none;
  }
}
/* titulo */
.title-pag {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 0;
}
.btn-prin {
  background: var(--color-boton-azul);
  color: var(--color-celeste--claro);
  box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
  border: 0.0625rem solid var(--color-boton-azul);
  &:active {
    background: var(--color-label);
  }
}
.btn-sec {
  background: var(--color-blanco);
  color: var(--color-azul--oscuro);
  border: 0.0625rem solid var(--color-azul--oscuro);
  box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
  &:active {
    background: var(--color-azul--oscuro);
    color: var(--color-blanco);
  }
}
.btn-ter {
  color: var(--color-azul);
  background: var(--color-blanco--oscuro);
  border: 0.0625rem solid var(--color-celeste--claro);
  box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
  &:active {
    background-color: var(--color-celeste--claro);
    color: var(--color-azul--oscuro);
  }
}
.btn-desplegar {
  background: transparent;
  padding-left: 0;
  img {
    transition: 0.3s ease-in-out;
  }
  &:active {
    img {
      transform: scale(1);
    }
  }
}
.btn-eliminar {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: var(--color-rojo);
}
.btn-aumentar,
.btn-disminuir {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: var(--color-blanco--oscuro);
  &:hover,
  &:active {
    background: var(--color-sombra-boton-azul);
  }
}

.btn-close {
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  background: var(--color-celeste--claro);
  &:hover,
  &:active {
    background: var(--color-celeste);
  }
}
/* input */
.container {
  background: var(--color-blanco);
  border-radius: 1.25rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  position: relative;
  gap: 1rem;
}
/* logo */
.form-header {
  padding: 0.5rem;
  img {
    height: 2.25rem;
  }
}
/* inputs */
#ruta{
  text-transform: uppercase;
}
.container_input-flotante {
  position: relative;
  display: flex;
  input {
    width: calc(100% - 1.5rem);
    border: 0.125rem solid;
    border-radius: 0.25rem;
    padding: 0.625rem;
    padding-bottom: 0.25rem;
    padding-top: 1rem;
    &:focus,
    &:active {
      outline: none;
    }
  }

  [type="text"] {
    &:focus + label,
    &:not(:valid) + label {
      padding-top: 0.25rem;
      @extend %label-style;
    }
  }
  [type="date"] + label {
    padding-top: 0.25rem;
    @extend %label-style;
  }
  label {
    position: absolute;
    z-index: 1;
    padding: 0.75rem;
    transition: 0.2s ease-in-out;
  }
}
input[type="number"] {
  position: relative;
  &:valid + label,
  &:focus + label {
    padding-top: 0.25rem;
    @extend %label-style;
  }
}
.input--metraje::after {
  position: absolute;
  content: ".m";
  display: block;
  z-index: 10;
  color: var(--color-celeste);
  background: white;
  height: 1.875rem;
  width: 1.875rem;
  top: 50%;
  transform: translate(0, -50%);
  right: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: end;
}
/* metrajes de inico y final */
.container-metraje {
  display: flex;
  justify-content: space-around;
  gap: 0.75rem;
  > div {
    flex: 1;
  }
}
/* quitar estilo de input number */
/* container items */
.container-items {
  height: min-content;
  position: relative;
  .item {
    padding-bottom: 1rem;
    background: linear-gradient(var(--color-blanco) 35%,transparent 35%);
    &.active {
      .btn-desplegar{
        img {
          transform: translateX(0.3125rem) rotate(90deg);
        }
      }
      &+ .container-datos-items{
        top:0;
        opacity: 1;
        position: relative;
        z-index: initial;
        height: max-content;
      }
    }
  }
}
/* botones para agregar items */
.acciones {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1rem;
  background: var(--color-blanco);
  padding: 0.25rem;
  border-radius: 3.125rem;
  box-shadow: 0 0.25rem 0.625rem var(--color-sombra-boton-azul);
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  .container-acciones-item {
    display: flex;
    flex: 1;
    justify-content: end;
  }
}
/* inputs items */
.input--item {
  position: relative;
  display: flex;
  .btn-close {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
.container-datos-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;
  top: -56px;
  right: 0;
  left: 0;
  opacity: 0;
  transition: all 1s ease;
  z-index: -1;
  height: 0;
}
select {
  width: calc(100%);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  padding: 0.625rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  position: relative;
  cursor: pointer;
  &:focus,
  &:active {
    outline: none;
  }
  & + label {
    top: 0;
    position: absolute;
    padding-top: 0.25rem !important;
    @extend %label-style;
  }
}
/* input text area reporte final */
.container_textArea-flotante {
  height: 100%;
}
textarea {
  width: calc(100% - 1.5rem);
  height: calc(100% - 1.5rem);
  border: 0.125rem solid;
  border-radius: 0.25rem;
  padding: 0.75rem;
  padding-left: 0.5rem;
  padding-bottom: 0.25rem;
  padding-top: 1rem;
  position: relative;
  resize: none;
}
/* container-formularios */
[class^="formulario-"] {
  display: grid;
  grid-row-gap: 1rem;
  grid-auto-rows: max-content;
}
.container-formularios {
  width: calc(100vw - 6rem);
  overflow: hidden;
}
.container-formularios--movimiento {
  display: flex;
  gap: 4rem;
  transition: 0.5s ease-in-out;
  transform: translateX(calc(0 * (calc(-100% - 4rem))));
  > section {
    min-width: 100%;
  }
}
/* botones del footer */
.form-footer-botones {
  display: flex;
  flex: -1;
  flex-direction: column;
  align-items: center;
  .container_botones_form-2,
  .container_reporte {
    display: flex;
    gap: 1rem;
  }
}
.container-botones-footer {
  width: calc(100vw - 6rem);
  overflow-x: hidden;
}
.container-botones-footer--movimiento {
  display: flex;
  gap: 4rem;
  padding: 1rem 0;
  transition: 1s ease;
  transform: translateX(calc(0 * (calc(-100% - 4rem))));
  > section {
    min-width: 100%;
    display: flex;
    justify-content: center;
  }
}

@media screen and(min-width:768px) {
  .container {
    width: 50vw;
  }
  .container-botones-footer {
    width: 100%;
  }
  .container-formularios {
    width: 100%;
  }
}